<h1>Welcome to KSFIt!</h1>
<h2>Make your UCSs playable on DM for Android</h2>
<p>Upload your stepchart and we'll convert it to KSF2 wrapped up in a zip file including its audio file and optimized graphics for your mobile device.</p>

<%= form_tag({action: :upload}, multipart: true) do %>
  <%= file_field_tag 'ucs_file' %>
<% end %>

<div id="ucs-info">
<%= form_tag({action: :ksf_it}, id: 'ksf-it') do %>
  <%= select(:ucs, :id, @current_songs.map {|s| [ s['title'], s['ucs_id'] ] }, {}, {style: 'display: none'}) %>
  <%= text_field :ucs, :filename, style: 'display: none' %>
  <%= text_field :ucs, :title, style: 'display: none' %>
  <%= text_area :ucs, :body %>
  <%= submit_tag "KSF it!"%>
<% end %>
</div>

<script src="/assets/ksf_app.js"></script>
